*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
/nbproject/private/
/index.php
/nbproject/
/system/
/application/helpers/
/application/hooks/
/application/third_party/
/application/.htaccess
/application/models/
/application/index.html
/application/errors/
/application/logs/
/application/core/
/application/config/
/application/controllers/
/application/language/
/application/views/
/application/libraries/index.html